
<form action="/result" method="POST">

  <label for="word">What do you want your Buzzfeed article to be about?</label>
  <input id="word" type="text" name="word">

<button type="submit" value="submit">Get Headline!</button>