%h1 Buzzfeed Headline Generator

.outercontainer
  .innercontainer
    %form{:action=>"/result", :method=>"POST"}
      .abouty
        %label{:class=>"abouty", :for=>"word"} What do you want your Buzzfeed article to be about?
      .boxy
        %input{:id=>"word", :type=>"text", :name=>"word", :class=> "whitebox"}
      .buttony
        %button{:class=> "submit buttonz", :type=>"submit", :value=>"submit"} Get Headline!